.h1-accueil{
    font-style: italic;
}

.dropdown-menu1{
    background-color: #2C3E50;
    margin-top: 150px;
    margin-left: 100px;
    width: 50%;
    height: 350px;
}

.card{
    height: 100%;
    background-color: #95999c;
}

/*container-accueil{*/
    /*background-image: url("../image/pieces-auto.jpg");*/
/*}*/