.h1-accueil{
    font-style: italic;
}

p {
    font-style: italic;
}
.dropdown-menu-connexion{
    background-color: #2C3E50;
    margin-top: 150px;
    margin-left: 100px;
    width: 50%;
    height: 350px;
}
.bouton-connexion {
    background-color: #18BC9C;
}

.label-connexion {
    color: white;
}
.card{
    height: 100%;
    background-color: #95999c;
}

.form-inscription{
    background-color: #2C3E50;
    margin-top: 150px;
    margin-left: 100px;
    width: 70%;
    height: 370px;
    padding: 25px;
}

.bouton-inscription{
    background-color: #18BC9C;
}

.label-inscription {
    color: white;
}